
/*Позиционирование блока*/
.MyBlock {
    background: #636363;
    color: #f0f0f0; 
    width: 200px; 
    height: 200px;  
    position: absolute; 
    /* position: relative; */
    /* top: 20px; */
    /* left: 20px; */
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
    transform: rotate(180deg)
    
}